.main.st-emotion-cache-uf99v8.ea3mdgi5
{
 background-color: black;
}

div.st-emotion-cache-j7qwjs.eczjsme7
{
 background-color: black;
 font-family: Times New Roman;
 opacity: 0.9;
 box-sizing: border-box;
}

.st-emotion-cache-1dj0hjr.eczjsme5
{
color: rgba(207, 0, 15);
}
.st-emotion-cache-1n5xqho.eczjsme4
{
 color: rgba(207, 0, 15);
 background-color: black;
 font-family: Times New Roman;
 opacity: 0.9;
}
.st-emotion-cache-79elbk.eczjsme10
{
 height: 40%;
}
